<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:bal="http://wixtoolset.org/schemas/v4/wxs/bal">
  <Bundle Name="ConfGTS"
          Manufacturer="СГМУП Городские тепловые сети"
          Version="0.18.2"
          IconSourceFile="!(bindpath.assets)\ConfGTS.ico"
          UpgradeCode="9C5D2F51-7B95-4D1E-9842-83450C9315E7">
    <BootstrapperApplication>
      <bal:WixStandardBootstrapperApplication
          Theme="hyperlinkLicense"
          LicenseUrl=""
          ShowVersion="yes"
          LaunchTarget="[ProgramFiles64Folder]ГТС\ConfGTS\ConfGTS.Client.exe"
          SuppressOptionsUI="yes" />
    </BootstrapperApplication>
    <Chain>
      <MsiPackage SourceFile="!(bindpath.msi)\ConfGTS-0.18.2-x64.msi" Vital="yes" />
    </Chain>
  </Bundle>
</Wix>
