<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:bal="http://wixtoolset.org/schemas/v4/wxs/bal">
  <Bundle Name="ConfGTS"
          Manufacturer="СГМУП Городские тепловые сети"
          Version="0.18.14"
          IconSourceFile="!(bindpath.assets)\ConfGTS.ico"
          UpgradeCode="9C5D2F51-7B95-4D1E-9842-83450C9315E7">
    <Variable Name="InstallFolder" Type="string" Value="[ProgramFiles64Folder]ГТС\ConfGTS\" Persisted="yes" bal:Overridable="yes" />

    <BootstrapperApplication>
      <bal:WixStandardBootstrapperApplication
          Theme="hyperlinkLicense"
          LicenseUrl=""
          ShowVersion="yes"
          LaunchTarget="[InstallFolder]ConfGTS.Client.exe"
          SuppressOptionsUI="no" />
    </BootstrapperApplication>
    <Chain>
      <MsiPackage SourceFile="!(bindpath.msi)\ConfGTS-0.18.14-x64.msi" Vital="yes">
        <MsiProperty Name="INSTALLFOLDER" Value="[InstallFolder]" />
      </MsiPackage>
    </Chain>
  </Bundle>
</Wix>