<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package
      Name="ConfGTS"
      Manufacturer="СГМУП Городские тепловые сети"
      Version="0.16.0"
      UpgradeCode="CC8C0A11-1DC6-44D3-BA24-F2B79EDBF2F6"
      Language="1049"
      Scope="perMachine">

    <SummaryInformation
        Description="ConfGTS — клиент видеоконференцсвязи"
        Manufacturer="СГМУП Городские тепловые сети" />

    <MajorUpgrade DowngradeErrorMessage="Установлена более новая версия ConfGTS." />
    <MediaTemplate EmbedCab="yes" />

    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="CompanyFolder" Name="ГТС">
        <Directory Id="INSTALLFOLDER" Name="ConfGTS" />
      </Directory>
    </StandardDirectory>

    <StandardDirectory Id="ProgramMenuFolder">
      <Directory Id="ProgramMenuDir" Name="ConfGTS" />
    </StandardDirectory>

    <StandardDirectory Id="DesktopFolder">
      <Component Id="DesktopShortcutComponent"
                 Guid="B87D3B22-5274-4630-879F-FD44242FC942">
        <Shortcut Id="DesktopShortcut"
                  Name="ConfGTS"
                  Description="Корпоративная видеоконференцсвязь"
                  Target="[INSTALLFOLDER]ConfGTS.Client.exe"
                  WorkingDirectory="INSTALLFOLDER" />
        <RegistryValue Root="HKLM"
                       Key="Software\ГТС\ConfGTS"
                       Name="DesktopShortcut"
                       Type="integer"
                       Value="1"
                       KeyPath="yes" />
      </Component>
    </StandardDirectory>

    <Feature Id="MainFeature" Title="ConfGTS" Level="1">
      <Files Directory="INSTALLFOLDER" Include="!(bindpath.publish)\**">
        <Exclude Files="!(bindpath.publish)\**\*.pdb" />
      </Files>
      <ComponentRef Id="StartMenuShortcutComponent" />
      <ComponentRef Id="DesktopShortcutComponent" />
    </Feature>

    <Component Id="StartMenuShortcutComponent" Directory="ProgramMenuDir"
               Guid="A1B36FB4-D2A2-4908-BB50-AAB2692092D7">
      <Shortcut Id="StartMenuShortcut"
                Name="ConfGTS"
                Description="Корпоративная видеоконференцсвязь"
                Target="[INSTALLFOLDER]ConfGTS.Client.exe"
                WorkingDirectory="INSTALLFOLDER" />
      <RemoveFolder Id="RemoveProgramMenuDir" On="uninstall" />
      <RegistryValue Root="HKLM"
                     Key="Software\ГТС\ConfGTS"
                     Name="StartMenuShortcut"
                     Type="integer"
                     Value="1"
                     KeyPath="yes" />
    </Component>
  </Package>
</Wix>
